/*///////////////////////////////////////////////////////////CSS RESET*/

* {
  border: 1px lightgrey solid; /*set before and after creating site*/
  max-width: 100%; /*keeps from side scrolling - elements can nvr be bigger than their parents*/
  box-sizing: border-box; /*Fixes sizing when using padding - respects width of our box*/
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/*///////////////////////////////////////////////////////////GENERAL CSS STYLES*/

html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem;
  color: #4f4f4f;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
  background-color: #fbfffb;
}
h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
  color:#266035;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color:#266035;
}
button{
color:#266035; 
padding: 3% 4%;
font-size: 1.6rem;
}

/*///////////////////////////////////////////////////////////PAGE CSS STYLES*/

nav{
 display: flex;
 justify-content: center;
 align-items: center;
 position: fixed;

 top: 0;
 width: 100%;
 z-index: 999;  /* makes sure its on top and everything scrolls under */
 background-color: rgba(255,255,255,0.8);
 }

 .logo{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .links{
  width:50%;
  display: flex;
  justify-content: space-evenly;
 }

 .logo img{
width: 70%
 }

 /* TOP SECTION STYLES */

 #top{
  height: 90vh;
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 }

 #top button{
background-color: #fbfffb;
border: 2px solid #266035;
margin-top: 5%;
 }

 #top button:hover{
  color:#fbfffb;
  background-color: #266035;
 }

 /* ABOUT SECTION STYLES */

 #about{
  height: 60vh;
  background-image: url('../images/about-img.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

 #about .txt{
  width: 25%;
  margin-right: 5%;
  text-align: center;
 }